*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d2dbdd;
}

.heading_style{
  padding: 30px 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #fff;
  /* color: gray; */
  /* margin-bottom: 30px; */
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
}
div{
  width: 100%;
  height: 100vh;
  background-color: #8e44ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
button{
  line-height: 24px;
  padding: 0px 20px;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  background-color: #9b58b6;
  outline: none;
  border: 2px solid #ecf0f1;
  cursor: pointer;
}
h1{
  color: white;
  background: transparent;
  text-shadow: 0 2px 2px black;
}
input{
  width: 50%;
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 20px 0;
  text-align: center;
}